.campusbot {
    position: fixed;

    left: 15px;
    top: 70%;

    z-index: 9999;
}

.campusbot-btn {
    width: 55px;
    height: 55px;

    border: none;
    background: transparent;

    cursor: grab;

    font-size: 35px;

    padding: 0;
}

.campusbot-btn:active {
    cursor: grabbing;
}


/* Chatbot open hone par */
.campusbot-window {
    display: none;

    position: fixed;

    left: 80px;
    bottom: 30px;

    width: 400px;
    height: 600px;

    background: white;

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 5px 25px rgba(0,0,0,.3);

    z-index: 10000;
}

.campusbot-header {
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;

    background: #1e3a8a;
    color: white;
}

.campusbot-header button {
    border: none;
    background: transparent;

    color: white;
    font-size: 24px;

    cursor: pointer;
}

.campusbot-window iframe {
    width: 100%;
    height: calc(100% - 50px);

    border: none;
}