.login-container{
  display: grid;
  place-items: center;
  height: 65vh;
  width: 20rem;
  margin: auto;
  margin-top: 10rem;
  box-shadow: #ccc 10px 10px 10px 0px;
  background-color: #ffffff;
  border-radius: 10px;
}

.login-container h1{
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #0d6e18;
}

.login-container h3{
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.login-container label{
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.login-container input[type="text"],
.login-container input[type="password"]{
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container input[type="checkbox"]{
 size: 0.7rem;
}

.login-container .form-label{
  font-size: 0.7rem;
  align-items: center;
}

.login-container .for-pass{
  font-size: 0.7rem;
  color: #4560e6;
  text-decoration: none;
  margin-left: 2rem;
}

.login-container button[type="submit"]{
  background-color: #03460b;
  color: white;
  border-radius: 10px;
  border: 2px solid #313231;
  padding: 0.5rem 1rem;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.login-container p{
  font-size: 0.7rem;
  margin-top: 0.8rem;
}

.login-container .contact-admin{
  font-size: 0.7rem;
  color: #4560e6;
  text-decoration: none;
}
